.home {
  position: relative;
  background-color: #f8f8f8;
  button {
    background-color: #ff0000;
    color: white;
    border-radius: 20px;
    padding: 0 20px;
    height: 50px;
    span {
      margin-left: 5px;
    }
  }
}
